{
    order webdav last
}
:8080 {
    log
    root * /srv
    reverse_proxy qgis:80

    handle_path /files/* {
        file_server browse
    }
    redir /files /files/

    handle /webdav/* {
        webdav {
            prefix /webdav
        }
    }
    redir /webdav /webdav/

    basicauth /* {
        {env.APP_USERNAME} {env.APP_PASSWORD_HASH}
    }
}